
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('fonts/poppins-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/poppins-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/poppins-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/poppins-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/poppins-v2-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* fjalla-one-regular - latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fjalla-one-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fjalla One'), local('FjallaOne-Regular'),
       url('fonts/fjalla-one-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fjalla-one-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fjalla-one-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fjalla-one-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fjalla-one-v4-latin-regular.svg#FjallaOne') format('svg'); /* Legacy iOS */
}


input[type=radio] { 
transform: scale(.6, .6); 
-moz-transform: scale(.6, .6); 
-ms-transform: scale(.6, .6); 
-webkit-transform: scale(.6, .6); 
-o-transform: scale(.6, .6); 
}

.cc-selector-2 input{
    position:absolute;
    z-index:500;
}


.cc-selector input{
    position:absolute;
    z-index:500;
}

.cnn{
    background-image:url(images/cnn.png);
    width:30px;
    height: auto;
}

.nytimes{
    background-image:url(images/nytimes.png);
    width:30px;
    height: auto;
}

.wapo{
    background-image:url(images/wapo.png);
    width:30px;
    height: auto;

}

.wsj{
    background-image:url(images/wsj.png);
    width:30px;
    height: auto;
}

.fox{
    
    background-image:url(images/fox.png);
    width:30px;
    height: auto;
}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.cc-selector input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:40px;height:40px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
* { font-family:'Poppins', sans-serif; }
.cc-selector-2 input{ margin: 1px 0 0 1px; }
.cc-selector-2 label{ margin-left: 1px; }
.cc-selector input{ margin: 1px 0 0 1px; }
.cc-selector label{ margin-left: 1px; }
span.cc{ color:#6d84b4 }


@charset "UTF-8";
body {
	font-style: normal;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	background-color:aliceblue;
		
}
#date-space*{
	font-size:12px;
}
#date-space-right*{
	font-size:12px;
}

.ui-datepicker {
	position:relative;
	z-index: 999999 !important;
}


#dates {
    float:center;
    margin-left: 45%;
}

#loading {
    position: absolute;
    width: 40%;
}


#loading-right {
    position: absolute;
    width: 40%;
}

#rest {
    width:90%;
    margin-left: 40px;
    margin-right: 400px;
}

h1 {
	margin-left: 30%;
	margin-right: 40%;
	width: 40%;
	color: antiquewhite;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: normal;
	border: medium double #BDD3EE;
	background-color: #49447A;
}

#div_1 {
	display: inline-block;
//	float: left;
	width: 80%;  
}

#div_2 {
	display: inline-block;
//   	float: right;
	width: 80%;
}   

#buttons-both {
    width:100%;
    margin-left: 0px;
    margin-right: 0px;	
}
#buttons {
	display: inline-block;
	float: left;
	width: 40%;  
}

#buttons-right {
	display: inline-block;
   	float: right;
	width: 40%;
}   

#left-border {
    left: 0;
}

#left-border, #right-border {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10px;
}

#top-border, #bottom-border, #left-border, #right-border  {
    background:#494479 ;
}

#top-border, #bottom-border, #left-border, #right-border> #div_1;
#top-border, #bottom-border, #left-border, #right-border>  #div_2;
#left-border { left: 0; }
#right-border { right: 0; }
				
#top-border, #bottom-border {
		position: fixed;
		left: 0; right: 0;
		height: 10px;
}
#top-border{ top: 0; }
#bottom-border { bottom: 0; }
				
@media 
		
/* Fairly small screens including iphones */
only screen and (max-width: 700px),
/* in landscape? but actually I think 700px did that already*/
and (orientation : landscape)		
/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
and (orientation : landscape)
{
    #top-border, #bottom-border, #left-border, #right-border { display: none; }

    #div_1 {
	margin-left: 0px;
    }
     #div_2 {
	margin-right: 0px;
    }
 #rest {
     width:90%;
     margin-right:10px;
     margin-left:10px;
    }
    
#div_1, #div_2 {
	width: 80%;  
}

@media 
		
/* Fairly small screens including iphones */
only screen and (max-width: 500px),
{
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:20px;height:20px;
}

input[type=radio] { 
transform: scale(.1, .1); 
-moz-transform: scale(.1, .1); 
-ms-transform: scale(.1, .1); 
-webkit-transform: scale(.1, .1); 
-o-transform: scale(.1, .1); 
}
}

/* Fairly small screens including iphones */
only screen and (min-width 600) and
(max-width: 700px),
/* in landscape? but actually I think 700px did that already*/
and (orientation : landscape)		
/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
and (orientation : landscape)
{
    #top-border, #bottom-border, #left-border, #right-border { display: none; }


    #rest {
	width:90%;
	margin-left: 0px;
	margin-right: 0px;
    }
    
#div_1 {
    margin-left: 5px;
    width: 80%;  
}

 #div_2 {
     width: 80%;
     margin-right: 5px;
 }

 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
  -webkit-text-size-adjust: none;
  font-family: sans-serif;
  min-height: 416px;
}

h1 {
  font-size: 33px;
  margin: 50px 0 15px;
  text-align: center;
  color: #212121;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  color: #3c3c3c;
  margin: 20px 10px 10px;
}

small {
  margin: 0 10px 30px;
  display: block;
  font-size: 12px;
}

a {
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #3c3c3c;
}

html, body {
  background: #f3f3f3;
}

#console {
  font-size: 12px;
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

#mySwipe div b {
  display: block;
  font-weight: bold;
  color: #14ADE5;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 20px;
  position: relative;
}
