
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/poppins-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('fonts/poppins-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/poppins-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/poppins-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/poppins-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/poppins-v2-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* fjalla-one-regular - latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fjalla-one-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fjalla One'), local('FjallaOne-Regular'),
       url('fonts/fjalla-one-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fjalla-one-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fjalla-one-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fjalla-one-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fjalla-one-v4-latin-regular.svg#FjallaOne') format('svg'); /* Legacy iOS */
}


input[type=radio] { 
transform: scale(.6, .6); 
-moz-transform: scale(.6, .6); 
-ms-transform: scale(.6, .6); 
-webkit-transform: scale(.6, .6); 
-o-transform: scale(.6, .6); 
}

.cc-selector-2 input{
    position:absolute;
    z-index:500;
}


.cc-selector input{
    position:absolute;
    z-index:500;
}

.cnn{
    background-image:url(images/cnn.png);
    width:30px;
    height: auto;
}

.nytimes{
    background-image:url(images/nytimes.png);
    width:30px;
    height: auto;
}

.wapo{
    background-image:url(images/wapo.png);
    width:30px;
    height: auto;

}

.wsj{
    background-image:url(images/wsj.png);
    width:30px;
    height: auto;
}

.fox{
    
    background-image:url(images/fox.png);
    width:30px;
    height: auto;
}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.cc-selector input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:40px;height:40px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
* { font-family:'Poppins', sans-serif; }
.cc-selector-2 input{ margin: 1px 0 0 1px; }
.cc-selector-2 label{ margin-left: 1px; }
.cc-selector input{ margin: 1px 0 0 1px; }
.cc-selector label{ margin-left: 1px; }
span.cc{ color:#6d84b4 }


@charset "UTF-8";
body {
	font-style: normal;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	background-color:aliceblue;
		
}
#date-space*{
	font-size:12px;
}
#date-space-right*{
	font-size:12px;
}

.ui-datepicker {
	position:relative;
	z-index: 999999 !important;
}


#dates {
    float:center;
    margin-left: 45%;
}

#loading {
    position: absolute;
    width: 40%;
}


#loading-right {
    position: absolute;
    width: 40%;
}

#rest {
    width:90%;
    margin-left: 40px;
    margin-right: 400px;
}

h1 {
	margin-left: 30%;
	margin-right: 40%;
	width: 40%;
	color: antiquewhite;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: normal;
	border: medium double #BDD3EE;
	background-color: #49447A;
}

#div-left {
	display: inline-block;
	float: left;
	width: 45%;  
}

#div-right {
	display: inline-block;
   	float: right;
	width: 45%;
}   

#buttons-both {
    width:90%;
    margin-left: 40px;
    margin-right: 400px;	
}
#buttons {
	display: inline-block;
	float: left;
	width: 45%;  
}

#buttons-right {
	display: inline-block;
   	float: right;
	width: 40%;
}   

#left-border {
    left: 0;
}

#left-border, #right-border {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10px;
}

#top-border, #bottom-border, #left-border, #right-border  {
    background:#494479 ;
}

#top-border, #bottom-border, #left-border, #right-border> #div-left;
#top-border, #bottom-border, #left-border, #right-border>  #div-right;
#left-border { left: 0; }
#right-border { right: 0; }
				
#top-border, #bottom-border {
		position: fixed;
		left: 0; right: 0;
		height: 10px;
}
#top-border{ top: 0; }
#bottom-border { bottom: 0; }
				
@media 
		
/* Fairly small screens including iphones */
only screen and (max-width: 700px),
/* in landscape? but actually I think 700px did that already*/
and (orientation : landscape)		
/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
and (orientation : landscape)
{
    #top-border, #bottom-border, #left-border, #right-border { display: none; }

    #div-left {
	margin-left: 0px;
    }
     #div-right {
	margin-right: 0px;
    }
 #rest {
     width:90%;
     margin-right:10px;
     margin-left:10px;
    }
    
#div-left, #div-right {
	width: 45%;  
}

@media 
		
/* Fairly small screens including iphones */
only screen and (max-width: 500px),
{
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:20px;height:20px;
}

input[type=radio] { 
transform: scale(.1, .1); 
-moz-transform: scale(.1, .1); 
-ms-transform: scale(.1, .1); 
-webkit-transform: scale(.1, .1); 
-o-transform: scale(.1, .1); 
}
}

* Fairly small screens including iphones */
only screen and (min-width 600) and
(max-width: 700px),
/* in landscape? but actually I think 700px did that already*/
and (orientation : landscape)		
/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
and (orientation : landscape)
{
    #top-border, #bottom-border, #left-border, #right-border { display: none; }


    #rest {
	width:90%;
	margin-left: 0px;
	margin-right: 0px;
    }
    
#div-left {
    margin-left: 5px;
    width: 45%;  
}

 #div-right {
     width: 45%;
     margin-right: 5px;
 }
